* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  background-color: #1e1e1e;
  width: 100%;
  height: 80px;
  padding: 25px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu .logo h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.top-menu .logo span {
  color: #f33f3f;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.top-menu ul li {
  margin: 0 15px;
}

.top-menu ul a {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 29px 10px;
}

.top-menu ul a:hover {
  border-bottom: 3px solid #f33f3f;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.top-menu ul .active {
  border-bottom: 3px solid #f33f3f;
}

.hero {
  background-image: url("https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h3 {
  color: #f33f3f;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 62px;
  letter-spacing: 5px;
  text-shadow: 5px 5px #f33f3f;
}

/* ---------- MAIN ---------- */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0 50px 0;
}

.main .top {
  border-bottom: 1px solid rgba(177, 177, 177, 0.39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 40px 0;
}

.main .top a {
  color: #f33f3f;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.main .top a:hover {
  color: #c00c0c;
}

.main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .bottom .product {
  border: 1px solid rgba(177, 177, 177, 0.39);
  background-color: rgba(255, 255, 255, 0.507);
  width: 30%;
  min-height: 100px;
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .bottom .product img {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.main .bottom .product .product-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  padding: 0 25px;
}

.main .bottom .product .product-top h4 {
  color: #1a6692;
}

.main .bottom .product .product-top h6 {
  font-size: 18px;
  color: #1e1e1e;
}

.main .bottom .product p {
  padding: 0 25px;
}

.main .bottom .product .product-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  padding: 0 25px;
}

.main .bottom .product .product-bottom h6 {
  color: #f33f3f;
}

.main .bottom .product .product-bottom span {
  color: #f33f3f;
  font-size: 13px;
  font-weight: 500;
}

.main .bottom .product .btn-buy {
  background-color: #f33f3f;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.main .bottom .product .btn-buy:hover {
  background-color: #c00c0c;
}

/* ---------- ABOUT ---------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.about .top {
  border-bottom: 1px solid rgba(177, 177, 177, 0.39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .bottom .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .bottom .left h4 {
  color: #1a6692;
  margin-bottom: 20px;
}

.about .bottom .left ul {
  padding-left: 30px;
}

.about .bottom .left li {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
}

.about .bottom .left p {
  margin-bottom: 25px;
  padding: 0 20px 0 0;
}

.about .bottom .left a {
  background-color: #f33f3f;
  width: 20%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about .bottom .left a:hover {
  background-color: #c00c0c;
}

.about .bottom .right {
  width: 50%;
}

/* ---------- INFO ---------- */
.info {
  background-color: #51c8d81f;
  padding: 50px 0;
}

.flex-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-info .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-info .left h4 {
  margin-bottom: 15px;
  color: #1a6692;
}

.flex-info .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-info .right a {
  background-color: #f33f3f;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 20px 15px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flex-info .right a:hover {
  background-color: #c00c0c;
}

footer .foot {
  border-top: 2px solid rgba(177, 177, 177, 0.39);
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 14px;
}

/* --------------- For Tiny Screens --------------- */
@media (max-width: 310px) {
  * {
    overflow-x: hidden;
  }
}

/* --------------- Mobile View --------------- */
@media (max-width: 699px) {
  .menu {
    display: none;
  }
  .product {
    width: 100% !important;
    min-height: 250px !important;
  }
  .product img {
    width: 60% !important;
    height: 60% !important;
    margin: 0 auto;
  }
  .about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .bottom .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .about .bottom .left h4 {
    margin: 15px 0;
  }
  .about .bottom .left a {
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .about .bottom .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .flex-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-info .left {
    width: 100%;
  }
  .flex-info .right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-info .right a {
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
  }
}

/* --------------- Tablet View --------------- */
@media (min-width: 700px) and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .product {
    width: 40% !important;
  }
  .product img {
    width: 40% !important;
    height: 40% !important;
    margin: 0 auto;
  }
  .about .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .bottom .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .about .bottom .left h4 {
    margin: 15px 0;
  }
  .about .bottom .left a {
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .about .bottom .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .about .bottom .right img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .flex-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-info .left {
    width: 100%;
  }
  .flex-info .right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-info .right a {
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
  }
}
/*# sourceMappingURL=main.css.map */